In [1]:
x = "what's your age"
type(x)

str

In [2]:
x = "45"
type(x)

str

In [3]:
x = 45
type(x)

int

Python's Basic Operations

In [4]:
x=2
y=6

Addition

In [5]:
x+y
print("the result is",x+y)   #the result is 8

the result is 8

Subtraction

In [6]:
x-y
print("the result is",x-y)   #the result is -4

the result is -4

Multiplication

In [10]:
x*y
print("the result is",x*y)   #the result is 12

the result is 12

Division

In [11]:
y/x
print("the result is", y/x)    #the result is 3.0

the result is 3.0

Power

In [12]:
y**x
print("the result is", y**x)    #the result is 36

the result is 36

Modulo

In [13]:
y%x
print("the result is", y%x)   #the result is 0

the result is 0

Exercise

In [14]:
x=19
y=10

In [15]:
print(x%y*3/(x-y))

3.0

In [26]:
Ch = "HelloWorld"

In [27]:
len(Ch)

10

In [28]:
Ch[0]

'H'

In [29]:
Ch = Ch+"World"

In [30]:
print(Ch)

HelloWorldWorld

In [4]:
1!=5 #it returns True

True

In [5]:
1!=1   #it returns False

False

In [7]:
(3!=4)==(5>3)

True

In [8]:
("if taiwo is a babe")==("babe is taiwo")

False

In [22]:
(1!=1)==(4>5)

True

If statement

In [28]:
age=33
age_min = 20
if age > age_min :
    print("The passenger has survived Titanic incident")
print(age)

The passenger has survived Titanic incident
33

In [29]:
age=25
age_min = 30
name="Samuel"
if age < age_min :
    print("The passenger has survived Titanic incident")
print(name)

The passenger has survived Titanic incident
Samuel

In [31]:
x=5
if x<8:
    print(x)

5

If/ Else Statement

In [33]:
Age= 40
if Age > 20:
    print("The passenger had survived")
elif Age == 10:
    print("The passenger had equal chance to survive")
else:
    print("We need more information to make a decision")

The passenger had survived

In [34]:
Age= 40
if Age > 50:
    print("The passenger had survived")
elif Age == 45:
    print("The passenger had equal chance to survive")
else:
    print("We need more information to make a decision")

We need more information to make a decision

In [41]:
Age= 20
if Age > 50:
    print("The passenger had survived")
elif Age == 30:
    print("The passenger had equal chance to survive")
elif Age!=30:
    print("The passenger is happy")
else:
    print("We need more information to make a decision")

The passenger is happy

In [42]:
x=5
if x>3:
    print("x is greater than 3!")
else:
    print("x is lower than 3!")

x is greater than 3!